@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

:root {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-color: lightcoral;
  color:white;
}

body {
  height: 100vh;
  overflow: auto;
  display: grid;
  place-content: center;
}

.main-content-container{
    display:grid;
    gap: 30px;
}

.main-content-container h1 {
    text-align: center;
}

.game-grid {
  width: fit-content;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  gap: 3px;
  background-color: white;
  cursor: pointer;
  user-select: none;
}

.game-grid-cell {
  display: grid;
  place-content: center;
  font-size: 3rem;
  background-color: lightcoral;
}

.game-grid-cell p {
  position:relative;
  top: -5px;
}

button {
  border: 3px solid rgb(219, 79, 79);
  border-radius: 5px;
  background-color: lightcoral;
  color: white;
  font-family: 'lato', sans-serif;
  transition: 100ms ease-in-out;
}

button:hover {
  background-color: rgb(247, 166, 166);
  cursor: pointer;
  transition: 100ms ease-in-out;
}

#reset-button {
  width:100px;
  height:30px;
  place-self:center;
}

.flashing {
  background-color: rgb(243, 105, 105);
  transition: 200ms ease-in-out;
}