:root {
  overflow: hidden;
  font-family: sans-serif;
}

body {
  height: 100vh;
  overflow: auto;
  display: grid;
  place-content: center;
}

.main-content-container{
    display:grid;
    gap: 30px;
}

.main-content-container h1 {
    text-align: center;
}

.game-grid {
  border: 1px solid black;
  width: fit-content;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
}

.game-grid-cell {
  border: 1px solid black;
  display: grid;
  place-content: center;
}

#reset-button {
  width:100px;
  place-self:center;
}